@{
    ViewData["Title"] = "Deck Builder";
}

@section Scripts{
    <script src="~/js/star-wars-cards.js" asp-append-version="true"></script>
    <script src="~/js/deck-builder.js" asp-append-version="true"></script>
}

<h1>Deck Builder</h1>

<div id="deck-builder" class="row">
    <div class="col-4">
        <h3>Card Finder</h3>
        <p>
            <label for="card-search-title">Title</label>
            <input type="text" id="card-search-title" />
            <button id="card-search-button" type="button" class="btn btn-primary btn-sm">Search</button>
        </p>
        <p>
            <select id="card-search-type-filter">
                <option value="all">[all card types]</option>
                <option value="admirals-order">Admiral's Order</option>
                <option value="character">Character</option>
                <option value="character-alien">Character - Alien</option>
                <option value="character-dark-jedi-master">Character - Dark Jedi Master</option>
                <option value="character-droid">Character - Droid</option>
                <option value="character-first-order">Character - First Order</option>
                <option value="character-imperial">Character - Imperial</option>
                <option value="character-jedi-master">Character - Jedi Master</option>
                <option value="character-rebel">Character - Rebel</option>
                <option value="character-republic">Character - Republic</option>
                <option value="character-resistance">Character - Resistance</option>
                <option value="character-sith">Character - Sith</option>
                <option value="creature">Creature</option>
                <option value="defensive-shield">Defensive Shield</option>
                <option value="device">Device</option>
                <option value="effect">Effect</option>
                <option value="effect-immediate">Effect - Immediate</option>
                <option value="effect-mobile">Effect - Mobile</option>
                <option value="effect-political">Effect - Political</option>
                <option value="effect-starting">Effect - Starting</option>
                <option value="effect-utinni">Effect - Utinni</option>
                <option value="epic-event">Epic Event</option>
                <option value="interrupt">Interrupt</option>
                <option value="interrupt-lost">Interrupt - Lost</option>
                <option value="interrupt-starting">Interrupt - Starting</option>
                <option value="interrupt-used">Interrupt - Used</option>
                <option value="jedi-test">Jedi Test</option>
                <option value="location">Location</option>
                <option value="location-sector">Location - Sector</option>
                <option value="location-site">Location - Site</option>
                <option value="location-system">Location - System</option>
                <option value="objective">Objective</option>
                <option value="podracer">Podracer</option>
                <option value="starship">Starship</option>
                <option value="starship-capital">Starship - Capital</option>
                <option value="starship-squadron">Starship - Squadron</option>
                <option value="starship-starfighter">Starship - Starfighter</option>
                <option value="vehicle">Vehicle</option>
                <option value="vehicle-combat">Vehicle - Combat</option>
                <option value="vehicle-creature">Vehicle - Creature</option>
                <option value="vehicle-shuttle">Vehicle - Shuttle</option>
                <option value="vehicle-transport">Vehicle - Transport</option>
                <option value="weapon">Weapon</option>
                <option value="weapon-artillery">Weapon - Artillery</option>
                <option value="weapon-automated">Weapon - Automated</option>
                <option value="weapon-character">Weapon - Character</option>
                <option value="weapon-death-star">Weapon - Death Star</option>
                <option value="weapon-death-star-ii">Weapon - Death Star II</option>
                <option value="weapon-starship">Weapon - Starship</option>
                <option value="weapon-vehicle">Weapon - Vehicle</option>
            </select>
        </p>
        <p>
            <select id="card-search-set-filter">
                <option value="all">[all expansions]</option>
                <option>Dagobah</option>
                <option>Hoth</option>
                <option>Premiere</option>
                <option>Special Edition</option>
                <option>Theed Palace</option>
                <option>Cloud City</option>
                <option>Third Anthology</option>
                <option>Reflections II</option>
                <option>Enhanced Premiere Pack</option>
                <option>Enhanced Jabba's Palace</option>
                <option>Jabba's Palace Sealed Deck</option>
                <option>Coruscant</option>
                <option>Premiere 2 Player</option>
                <option>Jabba's Palace</option>
                <option>Reflections III</option>
                <option>Rebel Leader Cards</option>
                <option>Endor</option>
                <option>Demonstration Deck Premium Card Set</option>
                <option>Jedi Pack</option>
                <option>Official Tournament Sealed Deck</option>
                <option>Tatooine</option>
                <option>Hoth 2 Player</option>
                <option>A New Hope</option>
                <option>Enhanced Cloud City</option>
                <option>Death Star II</option>
            </select>
        </p>
        <div id="card-search-message"></div>
    </div>
    <div class="col-4">
        <h3>Search Result</h3>
        <table class="table table-sm">
            <tbody id="card-search-table-body">
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h3>Current Deck</h3>
    </div>
</div>
