<table id="card-search-table">
  <tbody>
    <tr>
      <th><label for="card-search-title">Title</label></th>
      <td><input type="text" id="card-search-title" /></td>
    </tr>
    <tr>
      <th><label for="card-search-lore">Lore</label></th>
      <td><input type="text" id="card-search-lore" /></td>
    </tr>
    <tr>
      <th><label for="card-search-gametext">Gametext</label></th>
      <td><input type="text" id="card-search-gametext" /></td>
    </tr>
    <tr>
      <th><label for="card-search-type-filter">Card Type</label></th>
      <td>
        <select id="card-search-type-filter">
          <option value="all">[all card types]</option>
          <option value="admirals-order">Admiral's Order</option>
          <option value="character">Character</option>
          <option value="character-alien">Character - Alien</option>
          <option value="character-dark-jedi-master">Character - Dark Jedi Master</option>
          <option value="character-droid">Character - Droid</option>
          <option value="character-first-order">Character - First Order</option>
          <option value="character-imperial">Character - Imperial</option>
          <option value="character-jedi-master">Character - Jedi Master</option>
          <option value="character-rebel">Character - Rebel</option>
          <option value="character-republic">Character - Republic</option>
          <option value="character-resistance">Character - Resistance</option>
          <option value="character-sith">Character - Sith</option>
          <option value="creature">Creature</option>
          <option value="defensive-shield">Defensive Shield</option>
          <option value="device">Device</option>
          <option value="effect">Effect</option>
          <option value="effect-immediate">Effect - Immediate</option>
          <option value="effect-mobile">Effect - Mobile</option>
          <option value="effect-political">Effect - Political</option>
          <option value="effect-starting">Effect - Starting</option>
          <option value="effect-utinni">Effect - Utinni</option>
          <option value="epic-event">Epic Event</option>
          <option value="interrupt">Interrupt</option>
          <option value="interrupt-lost">Interrupt - Lost</option>
          <option value="interrupt-starting">Interrupt - Starting</option>
          <option value="interrupt-used">Interrupt - Used</option>
          <option value="jedi-test">Jedi Test</option>
          <option value="location">Location</option>
          <option value="location-sector">Location - Sector</option>
          <option value="location-site">Location - Site</option>
          <option value="location-system">Location - System</option>
          <option value="objective">Objective</option>
          <option value="objective-front">Objective - Front</option>
          <option value="objective-back">Objective - Back</option>
          <option value="podracer">Podracer</option>
          <option value="starship">Starship</option>
          <option value="starship-capital">Starship - Capital</option>
          <option value="starship-squadron">Starship - Squadron</option>
          <option value="starship-starfighter">Starship - Starfighter</option>
          <option value="vehicle">Vehicle</option>
          <option value="vehicle-combat">Vehicle - Combat</option>
          <option value="vehicle-creature">Vehicle - Creature</option>
          <option value="vehicle-shuttle">Vehicle - Shuttle</option>
          <option value="vehicle-transport">Vehicle - Transport</option>
          <option value="weapon">Weapon</option>
          <option value="weapon-artillery">Weapon - Artillery</option>
          <option value="weapon-automated">Weapon - Automated</option>
          <option value="weapon-character">Weapon - Character</option>
          <option value="weapon-death-star">Weapon - Death Star</option>
          <option value="weapon-death-star-ii">Weapon - Death Star II</option>
          <option value="weapon-starship">Weapon - Starship</option>
          <option value="weapon-vehicle">Weapon - Vehicle</option>
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="card-search-expansion-filter">Expansion</label></th>
      <td>
        <select id="card-search-expansion-filter">
          <option>[all expansions]</option>
          <option>Premiere</option>
          <option>Premiere 2 Player</option>
          <option>Jedi Pack</option>
          <option>Rebel Leader Cards</option>
          <option>A New Hope</option>
          <option>Hoth</option>
          <option>Hoth 2 Player</option>
          <option>Dagobah</option>
          <option>First Anthology</option>
          <option>Cloud City</option>
          <option>Jabba's Palace</option>
          <option>Official Tournament Sealed Deck</option>
          <option>Special Edition</option>
          <option>Enhanced Premiere Pack</option>
          <option>Endor</option>
          <option>Enhanced Cloud City</option>
          <option>Enhanced Jabba's Palace</option>
          <option>Third Anthology</option>
          <option>Death Star II</option>
          <option>Jabba's Palace Sealed Deck</option>
          <option>Reflections II</option>
          <option>Tatooine</option>
          <option>Coruscant</option>
          <option>Reflections III</option>
          <option>Theed Palace</option>
          <option>Virtual Card Set #0</option>
          <option>Virtual Card Set #1</option>
          <option>Virtual Card Set #2</option>
          <option>Virtual Card Set #3</option>
          <option>Virtual Card Set #4</option>
          <option>Virtual Card Set #5</option>
          <option>Virtual Card Set #6</option>
          <option>Virtual Card Set #7</option>
          <option>Virtual Card Set #8</option>
          <option>Virtual Card Set #9</option>
          <option>Virtual Card Set #10</option>
          <option>Demonstration Deck Premium Card Set</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>