@model Dejarix.App.Models.ForgotViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

@if (Model.Error.Length > 0)
{
    <div class="alert alert-danger">@Model.Error</div>
}

@if (Model.Success.Length > 0)
{
    <div class="alert alert-success">@Model.Success</div>
}

<h1>Forgot Password</h1>
<form method="post" enctype="application/x-www-form-urlencoded">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <input type="text" name="forgot-user" placeholder="Username or Email Address" value="@Model.PreviousUserName" />
    </div>
    <button type="submit" class="btn btn-primary">Send Reset Link</button>
</form>
