@{
  ViewData["Title"] = "Deck Builder";
}

@section Scripts{
  <script src="~/js/card-search.js" asp-append-version="true"></script>
  <script src="~/js/deck-builder.js" asp-append-version="true"></script>
}

<h1>Deck Builder</h1>

<div id="deck-builder" class="row">
  <div class="col-8">
    <h3>Card Finder</h3>
    <div class="row">
      <div class="col-6">
        <partial name="_CardSearchTable" />
      </div>
      <div class="col-6">
        ...
      </div>
    </div>
    <p>
      <button id="card-search-button" type="button" class="btn btn-primary" disabled="disabled">Search</button>
    </p>
    <div class="modal fade" id="card-search-modal" tabindex="-1" role="dialog" aria-labelledby="card-search-modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="card-search-modal-label">Single Card</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="card-search-image" class="modal-body text-center"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div id="card-search-message" class="alert alert-info">Loading card database...</div>
    <table class="table table-sm">
      <tbody id="card-search-table-body">
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <h3>Current Deck</h3>
    <table class="table table-sm">
      <tbody id="card-deck-table-body">
      </tbody>
    </table>
  </div>
</div>
