@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Any personally identifiable information (PII) provided to DEJARIX remains your property. DEJARIX conveys that information to other users in contexts you authorize (such as sharing your physical address for trading cards). DEJARIX will never share, sell, or otherwise disseminate your PII to any third parties.</p>
